.cards__title{
    top:100px;
    line-height: 1.15;
    font-size: 24px;
    text-align: center;
    font-family: 'Inter', 'Arial' , sans-serif;
    font-weight: 600;
    padding-top:0;
    padding-bottom:16px;
    margin:0;
  }