.two-columns__brief{
    width: 175px;
    line-height: 120%;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter-Regular','Arial' , sans-serif;
    font-weight: 400;
    color: #2F80ED;
    margin:0;
  }