.kaufman__triangle{
    background-image: url(../../../../images/triangle.svg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:right;
    position: absolute;
    min-width:995px;
    min-height:1006px;
    right:-210px;
    top:0;
}