.feinman{
    display: flex;
    align-items:center;
    flex-direction: column;;
    position:relative;
    min-height: 890px;
    width: 100%;
    background-color:#F2F2F2;
    box-sizing: border-box; 
  }