 @font-face {
    src:   url(/font/Inter/Inter-Regular.woff2) format('woff2'),
    url(/font/Inter/Inter-Regular.woff) format('woff');
    font-family: 'Inter-Regular';
    font-weight: 400;
  } 
  @font-face {
    src: url(/font/Inter/Inter-Bold.woff2) format('woff2'),
    url(/font/Inter/Inter-Bold.woff) format('woff');
    font-family: 'Inter-Bold';
    font-weight: 800;
  } 
  @font-face {
   src: url(/font/Inter/Inter-SemiBold.woff2) format('woff2'),
    url(/font/Inter/Inter-SemiBold.woff) format('woff');
    font-family: 'Inter-SemiBold';
    font-weight: 700;
   } 