.khan__quote{
    margin:0;
    width: 790px;
    padding-top: 50px;
    padding-bottom: 36px;
    line-height: 34px;
    font-size: 24px;
    font-family: 'Inter-Regular', 'Arial' , sans-serif;
    font-weight: 400;
}